
<div class="hundred-width" >
  <div class="row">
    <div class="col-md-6 col-md-push-6 padding hundred-size" style="background-image: linear-gradient(-225deg, rgba(180, 180, 180,0.4) 0%, rgba(120, 120, 120,0.6) 50%), url(https://images.unsplash.com/photo-1447684808650-354ae64db5b8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d3786eeaf183b022befb24523a4e64a0&auto=format&fit=crop&w=2247&q=80); background-size: cover;background-position: center;">
      <h1 class="padding1 white-header">Update your details</h1>
    </div>
    <div class="col-md-6 col-md-pull-6 padding">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>

      <% if flash[:error] %>
        <%= flash[:error] %>
      <% end %>

      <%= render "devise/registrations/form" %>
    </div>

  </div>
</div>
