

<div class="hundred-width" >
  <div class="row">
    <div class="col-md-6 col-md-push-6 padding hundred-size" style="background-image: linear-gradient(-225deg, rgba(180, 180, 180,0.4) 0%, rgba(120, 120, 120,0.6) 50%), url(https://images.unsplash.com/photo-1507146426996-ef05306b995a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1cf9c13e09f5f2ec5139b6475751b310&auto=format&fit=crop&w=2250&q=80); background-size: cover;background-position: center;">
      <h1 class="padding1 white-header">Sign Up</h1>
    </div>
    <div class="col-md-6 col-md-pull-6 padding">
      <%= render "devise/registrations/form" %>
    </div>
  </div>
</div>

