// Specific CSS for your home-page

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-filter: grayscale(10%);
  // filter: grayscale(10%);
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}


.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}

.home-form {
  display: inline-flex;
  align-items: center;
  min-width: 100%;
  margin: 10 px;
}

.home-button {
  margin: 10px;
  min-width: 20%;
  height: 60px;
}

.home-input {
  height: 60px;
}



