textarea {
resize: none;
min-height: 200px;
width: 100%;
}
.reg-size {
  width: 200px;
}

.block {
  text-align: left;
  justify-content: center;
  margin: 10px 0;
  width: 100%;
  align-self: center;
}

#puppy_description {
  align-self: center;
}

.margin {
  margin: 20px 0 0 0;
}

.padding {
  padding: 20px;
}

.padding1 {
  padding: 10px;
}
