.hundred-size {
  height: 100vh;
  position: sticky;
  top: 0px;
}

.white-header {
  color:white;
  align-self: center;
  text-align: center;
  font-size: 80px;
}

@media screen and (max-width: 1000px) {
  .hundred-size {
    height: 50vh;

  }
}


@media screen and (max-width: 600px) {
  .hundred-size {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    height: 0px;
    display: none;
  }
}

.hundred-width {
  width: 100%;
  margin: 0px;
  padding: 0 15px;
}
