.flex-horizontal {
  display: inline-flex;
  // height: 70vh;
  width: 100%;
  border-bottom: 1px solid rgb(200, 200, 200);

  .profile-image {
    max-height: 60vh;
    flex: 0 0 auto !important;
    overflow: hidden;
  }
}


.flex-item-left {
  background-color: white;
  flex-grow: 1;
  overflow: hidden;
  padding: 50px;
  width: 60%;
}

.flex-item-right {
  background-color: white;
  flex-grow: 1;
  overflow: hidden;
  padding: 50px;
  width: 40%;
}

.flex-item {
  background-color: white;
  // margin: 0 10px 0 10px;
  // flex: 1 1 auto;
  flex-grow: 1;
  overflow: hidden;
  // box-shadow: 2px 2px 2px rgb(200, 200, 200);
  padding: 50px;

  ul {
    list-style: none;
  }
}


.full-width {
  flex:0 0 auto !important;
  width: 100%
}

.top-space {
  margin: 30px 0 0 0;
}

.dark-gray {
  color: white;
  background-color: $dark-gray;
  padding: 20px;
  h1 {
    margin:0;
  }
}

.review-card {
  background: white;
  padding: 30px;
  text-align: center;
  min-height: 200px;
  border: 1px solid rgb(200, 200, 200);
  margin-bottom: 20px;
}

.booking-form {
  background: white;
  padding: 30px;
  border: 1px solid rgb(200, 200, 200);
  h2 {
    padding: 0px;
    margin: 0px;
    padding-bottom: 10px;
  }
}

.gray-ground {
  background: $light-gray;
}


.have-account {
  padding: 30px 0 10px 0;
}

@media screen and (max-width: 1000px) {
  .flex-horizontal {
    img {
    width: 300px;
    object-fit: cover;
    }
  }
  .gray-ground {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .flex-horizontal {
    display: flex;
    flex-direction: column-reverse;
    img {
      width: 100%;
    }
    .flex-item-left {
      width: 100%;
    }
  }
}


