
<div class="home-banner">
  <%= image_tag asset_path("puppy-banner.jpg"), class:"img-responsive", alt: "Puppy banner" %>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>

