/* Main navbar */
.flex-container {
   display: flex;
   flex-direction: column;

}

$filter-height: 60px;
$navbar-height: 70px;

body {
  padding-top: $navbar-height;
}

body.homepage {
  padding-top: 0;
}

body.extra-padding {
  padding-top: $navbar-height + $filter-height;
}

.navbar-wagon {

  height: $navbar-height;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s background-color ease;
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  color: #616668;
}

.navbar-wagon-home {
  background-color: transparent;
  box-shadow: none;
    .navbar-wagon-link {
      color: white;
  }
}


/* Logo */

.navbar-wagon-brand-dark:hover {
  background-image: image-url("logo_hover.png");
}

.navbar-wagon-brand-dark {
  height: 50px;
  width: 50px;
  background-size: cover;
  position: relative;
  background-image: image-url("logo_dark.png");
}



.navbar-wagon-brand-dark a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none; /* No underlines on the link */
  z-index: 10; /* Places the link above everything else in the div */
  background-color: #FFF; /* Fix to make div clickable in IE */
  opacity: 0; /* Fix to make div clickable in IE */
  filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.navbar-wagon-brand {
  background-image: image-url("logo.png") !important;
}

.filter_bar {
  height: $filter-height;
  background-color: rgb(240,240,240);
  // border-top: 5px $gray;
  // border-bottom: 5px $gray;
}






/* User Avatar */
.navbar-wagon .avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: $dark-gray;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #FF5D5D;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #bdbdbd;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #bdbdbd;
  border-top: 1px solid #bdbdbd;
}

.hamburger {
  color: $dark-gray;
}

.white-t-clear-bg {
  color: white;
  background-color: transparent;
}
